*, *::after, *::before, *::{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* game container styling */
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 20%;
}

/* Game content styling */
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1cc;
    padding: 10px;
    box-shadow: 0px 0px 12px 2px;
    border-radius: 0.5em;
    height: 50vh;
    width: 900px;
    text-align: center;
    
}
/* Game text-content styling */
.text-field{
    font-size: 22px;
    font-weight: bolder;
    color: rgb(58, 48, 48);
    height: 100px;
}
/* Game buttons styling */
.btn-primary{
   min-width:150px;
   height: 50px;
   margin-top: 1em;
   border-radius: 5px;
   margin: 5px;
}

/* Game background styling */
.slider, .slider> img {
    height: 100vh;
    width: 100%;
}
.slider > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 3000ms;
}
.slider .show {
    opacity: 1;
}